.nav-bar  {
    position: fixed;
    width: 100%;
    margin-bottom:10px;
    background-color: blue
}


.picture{
    float:left;
    margin-top:20px;
    height:150px;
    margin-right:20px;
   align-content: center;
}



