.nav-bar  {
    position: fixed;
    width: 100%;
    margin-bottom:10px;
    background-color: blue
}

.a{
 margin-top:10px;
 padding:20px;
 margin-bottom:150px;

text-align:center
}

.picture{
    float:left;
    margin-top:20px;
    height:150px;
    margin-right:20px;
   align-content: center;
}


.b{
    margin-bottom:150px;
   
    text-align:center

}


.c{
    margin-bottom:150px;
   
    text-align:center
}


.d{
    margin-bottom:150px;
  
    text-align:center
}

.j{
    margin-bottom:150px;
   
    text-align:center

}


header main{
    width: 80%;
    justify-content: center;
}

*{
    margin:auto;
    max-width:90%
}
